{%  extends 'loginbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Carteira de Vacinação Virtual - Login{% endblock %}
{% block main %}
    <div class="container-sm p-2">
                <div class="card align-items-sm-center">
                  <form method="post">
                   {% csrf_token %}
                    <img class="mb-4" src="{% static 'img/univesp.png' %}" alt="" width="200" height="200">
                      <div class="row p-2 g-2">
                       <div class="col-md">
                          {{form.username|as_crispy_field }}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                          {{form.password|as_crispy_field }}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                      {% if form.errors %}
                       <p class="alert-danger">Nome de usuário e/ou senha incorretos.</p>
                      {% endif %}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                        <button class="btn btn-primary" type="submit">Login</button>
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                        <a href="{% url 'novo_usuario' %}" class="btn btn-outline-primary">Cadastre-se</a>
                       </div>
                      </div>

                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                  </form>
            </div>
    </div>
{% endblock %}