{%  extends 'loginbase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Carteira de Vacinação Virtual - Login{% endblock %}
{% block main %}
    <div class="container-sm p-2 h-100 row align-items-center m-auto w-50">
                <div class="card border-primary align-items-center p-5">
                  <form method="post" class="w-33">
                   {% csrf_token %}
                    <img class="mb-4 row m-auto" src="{% static 'img/univesp.png' %}" alt="" width="240" height="141">
                      <div class="row p-2 g-2">
                       <div class="col-md fw-bold">
                          {{form.username|as_crispy_field }}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md fw-bold">
                          {{form.password|as_crispy_field }}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                      {% if form.errors %}
                       <p class="alert-danger">Nome de usuário e/ou senha incorretos.</p>
                      {% endif %}
                       </div>
                      </div>
                      <div class="row p-2 g-2">
                       <div class="col-md">
                        <button class="btn btn-primary btn-lg" type="submit">Login</button>
                           <a href="{% url 'novo_usuario' %}" class="btn btn-outline-primary btn-lg">Cadastre-se</a>

                       </div>
                      </div>

                    <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
                  </form>
            </div>
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{% static 'customjs/fieldmasks.js' %}"></script>
{% endblock %}