{% extends 'base.html' %}

{% block title %}
    Bem Vindo à Carteira de Vacinação Virtual
{% endblock %}

{% block main %}

    <div class="row">
        <div class="col">
            <strong>Vacinas aplicadas</strong>
            <table id="aplicacoes-table" class="table">
              <thead>
              <tr>
                <th class="text-center" scope="col">Vacina</th>
                <th class="text-center" scope="col">Dose</th>
                <th class="text-center" scope="col">Lote</th>
                <th class="text-center" scope="col">Data de aplicação</th>
                <th class="text-center" scope="col">Local</th>
                <th class="text-center" scope="col">Aplicador</th>
              </tr>
              </thead>
              <tbody>
              {% for aplicacao in aplicacoes %}
                <tr>
                  <td class="text-center">{{ aplicacao.vacina }}</td>
                  <td class="text-center">{{ aplicacao.dose }}</td>
                  <td class="text-center">{{ aplicacao.lote }}</td>
                  <td class="text-center">{{ aplicacao.data_aplicacao|date:"SHORT_DATE_FORMAT" }}</td>
                  <td class="text-center">{{ aplicacao.local }}</td>
                  <td class="text-center">{{ aplicacao.aplicador }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

        </div>
    </div>

{% endblock %}
