{% extends 'base.html' %}

{% block title %}
    Bem Vindo à Carteira de Vacinação Virtual
{% endblock %}

{% block main %}


    <div class="row">
        <div class="col">
            <strong>Vacinas pendentes</strong>
            <table id="aplicacoes-table" class="table">
              <thead>
              <tr>
                <th class="text-center" scope="col">Vacina</th>
                <th class="text-center" scope="col">Pendente desde</th>
              </tr>
              </thead>
              <tbody>
              {% for vacina in elegiveis %}
                <tr>
                  <td class="text-center">{{ vacina.vacina }}</td>
                  <td class="text-center">{{ vacina.data_prevista|date:"SHORT_DATE_FORMAT" }}</td>
                </tr>
              {% endfor %}

              </tbody>
            </table>

        </div>
    </div>

{% endblock %}
