 {% block sidebar %}
    {% if user.is_authenticated %}
    <div class="flex-shrink-0 px-1 py-1 bg-light" >
        <a href="/" class="d-flex align-items-center px-1 py-3 link-dark text-decoration-none border-bottom">
          <svg class="bi me-2" width="30" height="24"></svg>
          <span class="fs-5 fw-semibold">Carteira de Vacinação Virtual</span>
        </a>
        <ul class="list-unstyled ps-3 pt-3">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#vacina-collapse" aria-expanded="false">
              Vacinação
            </button>
            <div class="collapse" id="vacina-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'busca_paciente' %}" class="link-dark rounded">Busca paciente</a></li>

              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              {{ user.first_name }}
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="{% url 'complementa_usuario' user.id %}" class="link-dark rounded">Alterar dados</a></li>
                <li><a href="{% url 'logout' %}" class="link-dark rounded">Logout</a></li>
              </ul>
            </div>
          </li>
        </ul>
    </div>
    {% endif %}
{% endblock %}